// app global css in SCSS form

.q-ma-auto{
    margin: auto;
}
.q-pa-auto{
    margin: auto;
}
.text-blue-fb{
    color: $color-fb;
}
.bg-blue-fb{
    background-color: $color-fb;
}
.text-red-gmail{
    color: $color-gmail;
}
.bg-red-gmail{
    background-color: $color-gmail;
}